/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Color Variables                       */
/* -------------------------------------------------------------------------- */

// Theme variable
$theme: "light";

// Light theme (default) colors
$theme-text-primary: #1C1C1C;
$theme-text-secondary: #5B5B5B;
$theme-text-tertiary: #848484;
$theme-background-primary: #FFFFFF;
$theme-background-secondary: #F2F2F7;
$theme-background-tertiary: #D1D1D6;

// Dark theme colors
@if $theme == "dark" {
    $theme-text-primary: #F4F4F4;
    $theme-text-secondary: #BBBBBB;
    $theme-text-tertiary: #BBBBBB;
    $theme-background-primary: #000000;
    $theme-background-secondary: #1C1C1E;
    $theme-background-tertiary: #2C2C2E;
}

// Highlight colors
$highlight-pink-primary: #EB0877;
$highlight-pink-secondary: #470224;
$highlight-pink-tertiary: #E6ADC9;
$highlight-blue-primary: #00E0FF;
$highlight-blue-secondary: #003840;
$highlight-blue-tertiary: #BFF7FF;
$highlight-green-primary: #24FFB0;
$highlight-green-secondary: #09402C;
$highlight-green-tertiary: #C8FFEB;

// Generic colors
$color-success-green: #4CD16B;
$color-failure-red: #ff0000b2;

/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Layout                           */
/* -------------------------------------------------------------------------- */

// CSS Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    top: 0;
}

// Body styling
body {
    background-color: $theme-background-primary;
}

#view-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    .symbol {
        align-self: flex-start;
        justify-self: start;
        margin-top: 40px;
        margin-left: 40px;
    }
}

// Self layout
.left {
    grid-column: 1 / span 1;
    justify-self: flex-start;
}
.right {
    grid-column: 2 / span 1;
    justify-self: flex-end;
}
.stretch {
    grid-column: 1 / span 2;
    justify-self: center;
}

// Scrollbar styling
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C4C4C4; 
    border-radius: 5px;
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */

* {
    font-family: 'Aileron', sans-serif;
    color: $theme-text-primary;
    user-select: none;
}

a, span { 
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: $theme-text-tertiary;
}

p {
    color: $theme-text-tertiary;
    font-size: 15px;
    font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                      #pragma Default Icon Coloring                         */
/* -------------------------------------------------------------------------- */

.symbol, .logo {
    filter: invert(0%) sepia(6%) saturate(2419%) hue-rotate(37deg) brightness(89%) contrast(78%);
    @if $theme == "dark" {
        filter: invert(100%) sepia(62%) saturate(0%) hue-rotate(180deg) brightness(113%) contrast(91%);
    }
}

svg {
    fill: $theme-text-tertiary;

    &.check {
        fill: $color-success-green;
    }
    &.x {
        fill: $highlight-pink-primary;
    }
}

*::-webkit-calendar-picker-indicator {
    filter: invert(54%) sepia(0%) saturate(82%) hue-rotate(144deg) brightness(96%) contrast(89%);

    @if $theme == "dark" {
        filter: invert(15%) sepia(3%) saturate(601%) hue-rotate(202deg) brightness(96%) contrast(92%);
    }
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Modules                          */
/* -------------------------------------------------------------------------- */

@mixin rounded-box {
    // Layout
    width: 100%;
    height: 50px;
    
    // Children layout
    display: flex;
    align-items: center;
    justify-content: center;

    // Children
    label {
        color: $theme-text-secondary;
    }
    img, svg {
        margin-right: 5px;
    }

    // Decoration
    border-radius: 15px;
    background-color: $theme-background-secondary;
    border: none;
    &:focus {
        outline:0;
    }
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Button Styling                           */
/* -------------------------------------------------------------------------- */

@mixin button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    label {
        color: $highlight-pink-primary;
        cursor: pointer;
    }
    &:focus {
        outline:0;
    }
    &.bottom-margin {
        margin-top: 60px;
    }
}

.button-primary {
    @include rounded-box;
    @include button;

    // Changes
    background-color: $highlight-pink-primary;
    label {
        color: $theme-background-primary;
    }
    &.disabled {
        cursor: unset;
        background-color: $highlight-pink-tertiary;
        label {
            cursor: unset;
            color: $highlight-pink-primary;
        }
    }
}

.button-secondary {
    @include rounded-box;
    @include button;

    // Changes
    background-color: $highlight-pink-tertiary;
    width: 50%;
}

.button-tertiary {
    @include button;
}

.continue-with-button {
    @extend .button-primary;    
    
    // Special logos
    &.google {
        margin-bottom: 20px;
        background-color: #FFFFFF;
        border: 1px solid #1C1C1C;
        label {
            color: #1C1C1C;
        }
    }   
    &.facebook {
        background-color: #003BFF;
        label {
            color: #FFFFFF;  
        }  
    }
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */

.input-group {
    // Layout
    width: 100%;
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 30px;
    }

    // Generic input
    .input-text,
    .input-search,
    .input-date,
    .input-username,
    .input-textarea {
        @include rounded-box;

        // Layout
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input, textarea {
            @include rounded-box;
            margin: 0;
            
            // Typography
            background-color: $theme-background-tertiary;
            color: $theme-text-primary;
            font-size: 17px;
            font-weight: 400;

            // Decoration
            background-color: transparent;
            &:placeholder {
                color: $theme-text-secondary;
            }
            &:focus {
                outline: 0;
            }
        }
        svg {
            width: 70px;
            cursor: pointer;
        }
    }

    // Search input
    .input-search {
        padding: 0 15px;
        input {
            // Search close button styling
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                height: 1em;
                width: 1em;
                background: url(../assets/close.svg) no-repeat 50% 50%;
                background-size: contain;
                opacity: 0;
                pointer-events: none;
            }  
            &:focus::-webkit-search-cancel-button {
                opacity: 1;
                pointer-events: all;
                cursor: pointer;
            }
        }
        svg {
            width: 20px;
            margin-right: 10px;
        }
    }

    // Date input
    .input-date {
        input {
            width: 95%;

            &::-webkit-calendar-picker-indicator {
                cursor: pointer;
            }
            &:invalid::-webkit-datetime-edit {
                color: $theme-text-secondary;
            }
        }
    }

    // Username input
    .input-username {
        .availability {
            width: 120px;
            font-size: 14px;
            color: $theme-text-tertiary;
        }
        .dot {
            height: 10px;
            width: 10px;
            margin-right: 5px;
            border-radius: 50%;
            display: inline-block;
            background-color: $color-success-green;

            &.red {
                background-color: $color-failure-red;
            }
        }
    }

    // Textarea input
    .input-textarea {
        grid-column: 1 / span 2;
        width: 100%;
        height: 300px;
        padding: 15px;
        textarea {
            border-radius: 0;
            resize: none;
            width: 100%;
            height: 100%;
        }
    }

    // Select input
    .input-select {
        position: relative;
        background-color: $theme-background-secondary;
        border-radius: 15px;
        font-size: 17px;
    
        &.dropped {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        *:focus {
            outline: 0;
        }
        &[open] {
            z-index: 1;
        }
        &[open] summary:before {
            content: '';
            display: block;
            width: 100vw;
            height: 100vh;
            background: transparent;
            position: fixed;
            top: 0;
            left: 0;
        }
        summary {
            padding: 1rem;
            cursor: pointer;
            list-style: none;
        
            &:after {
                content: '';
                display: inline-block;
                float: right;
                width: .5rem;
                height: .5rem;
                border-bottom: 2px solid $theme-text-tertiary;
                border-left: 2px solid $theme-text-tertiary;
                margin-right: 5px;
                transform: rotate(-45deg) translate(0%, 50%);
            }
            input[type=radio] {
                appearance: none;
                display: none;
                pointer-events: none;
                font-size: 17px;
        
                &:checked {
                    display: inline;
                }
                &:after {
                    content: attr(title);
                    font-size: 1rem;
                }
            }
            #default {
                color: $theme-text-secondary;
            }
        }
        ul {
            box-sizing: border-box;
            position: absolute;
            width: 100%;
            background-color: $theme-background-secondary;
            border-radius: 15px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
    
            li {
                list-style: none;
    
                &:hover {
                    background: $theme-background-tertiary;
                }
                &:last-of-type {
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }
                &:last-child {
                    label {
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;   
                    }
                }
                label {
                    width: 100%;
                    display: block;
                    padding: 1rem;
                    cursor: pointer;
                    color: $theme-text-primary;
                    font-size: 17px;
                    font-weight: 400;

                    &.selected {
                        background: $theme-background-tertiary;
                    } 
                }
            }
        }
    }

    // Skill picker
    .skill-picker {
        position: relative;
        background-color: $theme-background-secondary;
        border-radius: 15px;

        // Dropdown functionality
        &.dropped {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        *:focus {
            outline: 0;
        }

        // Search and selected skills
        .top-group {
            cursor: pointer;
            list-style: none;
            
            .input-search {
                width: 100%;
                svg {
                    width: 20px;
                    margin-right: 10px;
                }
            }
            .selected {
                display: flex;
                flex-wrap: wrap;
                padding: 10px 10px 0px 10px;
    
                .skill {
                    @include rounded-box;
                    width: auto;
                    height: auto;
                    margin: 5px;
                    background-color: $highlight-pink-primary;
                    label {
                        color: $theme-background-primary;
                        font-size: 12px;
                        font-weight: 600;
                    }
                    svg {
                        margin: 0 5px;
                        fill: $theme-background-primary;
                    }
                    .close {
                        cursor: pointer;
                    }
                }
            }
        }

        // Dropdown
        .dropdown {
            width: 100%;
            position: absolute;
            background-color: $theme-background-secondary;
            border-radius: 15px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            overflow: hidden;

            .divider {
                width: 100%;
                border-top: 1px solid $theme-background-tertiary;
            }
            .skills {
                // Self layout
                position: relative;
                width: 100%;
                height: 20vh;
                padding: 10px 10px 0 10px;
                overflow-y: scroll;
                overflow-x: hidden;
       
                // Skills layout
                .section-title {
                    font-size: 14px;
                    font-weight: 600;
                    color: $theme-text-secondary;
                }
                .skill-group {
                    margin-bottom: 30px;
    
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
                .skill label {
                    font-size: 14px;
                    font-weight: 400;
                    color: $theme-text-primary;
                }
                .skill {
                    margin: 10px 0;
                }
    
                // Checkbox styling
                input[type="checkbox"] {
                    position: absolute;
                    opacity: 0;
                    z-index: -1;
                }
                label {
                    position: relative;
                    display: inline-block;
                    padding-left: 30px;
                    height: 1.5em;
                    line-height: 1.5;
                    cursor: pointer;
    
                    &::before, &::after {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1.5em;
                        height: 1.5em;
                        cursor: pointer;
                        -webkit-transition: .25s all ease;
                        transition: .25s all ease;
                    }
                    &::before {
                        content: " ";
                        border: 1px solid #bdc3c7;
                        border-radius: 20%;
                    }
                }
                input[type="checkbox"] + label::after {
                    content: "\2713";
                    color: $theme-background-primary;
                    line-height: 1.5;
                    text-align: center;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                input[type="checkbox"]:checked + label::before {
                    background: $highlight-pink-primary;
                    border: 0;
                }
                input[type="checkbox"]:checked + label::after {
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
        
    }
}

/* -------------------------------------------------------------------------- */
/*                     #pragma Supplementary Text Elements                    */
/* -------------------------------------------------------------------------- */

// Input label
.input-group {
    border: none;
    label {
        color: $theme-text-tertiary;

        // Default margin
        line-height: 30px;

        // Different label positions
        &.top {
            margin-bottom: 10px;
        }
        &.bottom {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}

// Group with form instructions
.instruction-group {
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 40px;
    grid-column: 1 / span 2;
    justify-self: flex-start;
    
    // Children layout
    display: grid;
    grid-template-columns: 2fr 1fr;

    h2 {
        grid-column: 1 / span 1;
    }
    h3 {
        grid-column: 1 / span 2;
        text-transform: uppercase;
        color: $theme-text-secondary;
        margin-bottom: 5px;
    }
    label {
        grid-column: 2 / span 1;
        justify-self: right;
        align-self: flex-end;
        text-transform: uppercase;
    }

    // Progress bar styling
    .progress-bar {
        grid-column: 1 / span 2;
        margin-top: 10px;
        width: 100%;
        height: 5px;
        display: flex;
        justify-content: space-between;
    
        .unselected, .selected {
            height: 5px;
            width: 24.5%;
            border-radius: 5px;
            background-color: $highlight-pink-tertiary;
        }
        .selected {
            background-color: $highlight-pink-primary;
        }
    }
}

// Password type checker
.password-validator {
    // Self align
    grid-column: 1 / span 2;
    justify-self: flex-start;

    // Children layout
    display: flex;
    flex-direction: column;

    span {
        margin: 5px 0;
        svg {
            margin-right: 5px;
        }
    }
}

// Terms of Service
.TOS {
    width: 60%;
    justify-self: center;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;

    a {
        color: $highlight-pink-primary;
        font-size: 13px;
        margin: 0;
    }
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Loader Animated                          */
/* -------------------------------------------------------------------------- */

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid  #EB0877;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;    
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------------------------------------------------------------------- */
/*                       #pragma Registration Form Layout                     */
/* -------------------------------------------------------------------------- */

.App {
    // Self Positioning
    grid-area: 1 / 2 / span 1 / span 1;
    height: 100vh;
    display: flex;
}

.form-container {
    // Self layout
    align-self: flex-start;

    // Children layout
    display: grid;
    grid-template-columns: 350px 350px;
    column-gap: 40px;
    justify-items: center;

    .logo {
        margin-bottom: 75px;
    }
    .or-divider {
        // Children layout
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        justify-items: center;
        margin: 30px 0;

        .line {
            grid-column: 1 / span 3;
            border-top: 1px solid $theme-text-secondary;
            width: 350px;
        }
        p {
            grid-column: 2 / span 1;
            position: relative;
            top: 9px;
            width: 40px;
            text-align: center;
            background-color: $theme-background-primary;
        }
    }  
}

// Special cases
#login {
    grid-template-columns: 350px;
    align-self: center;

    #button-sign-in {
        margin-bottom: 30px;
        width: 100%;
    }
}
#register {
    #button-finish-up {
        width: 100%;
    }
}
#end {
    grid-template-columns: 350px;
    text-align: center;
    align-self: center;

    #button-end {
        margin-top: 30px;
        width: 100%;
    }
}