/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Styling Variables                     */
/* -------------------------------------------------------------------------- */

// Light theme colors
$light-theme-text-primary: #1C1C1C;
$light-theme-text-secondary: #5B5B5B;
$light-theme-text-tertiary: #848484;
$light-theme-background-primary: #FFFFFF;
$light-theme-background-secondary: #F2F2F7;
$light-theme-background-tertiary: #D1D1D6;

// Dark theme colors
$dark-theme-text-primary: #F4F4F4;
$dark-theme-text-secondary: #BBBBBB;
$dark-theme-text-tertiary: #BBBBBB;
$dark-theme-background-primary: #000000;
$dark-theme-background-secondary: #1C1C1E;
$dark-theme-background-tertiary: #2C2C2E;

// Highlight colors
$highlight-pink-primary: #EB0877;
$highlight-pink-secondary: #470224;
$highlight-pink-tertiary: #E6ADC9;
$highlight-blue-primary: #00E0FF;
$highlight-blue-secondary: #003840;
$highlight-blue-tertiary: #BFF7FF;
$highlight-green-primary: #24FFB0;
$highlight-green-secondary: #09402C;
$highlight-green-tertiary: #C8FFEB;

// Generic colors
$color-success-green: #4CD16B;

/* -------------------------------------------------------------------------- */
/*                           #pragma Utility Styling                          */
/* -------------------------------------------------------------------------- */

// CSS Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    top: 0;
}

// Body styling
body {
    background-color: $dark-theme-background-primary;
}

.view-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    #logo {
        align-self: flex-start;
        justify-self: start;
        margin-top: 40px;
        margin-left: 40px;
    }
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */

* {
    font-family: 'Aileron', sans-serif;
    color: $dark-theme-text-primary;
    user-select: none;
}

a, span { 
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

h2 {
    font-size: 30px;
    font-weight: 700;
}

h3 {
    font-size: 14px;
    font-weight: 600;
    color: $dark-theme-text-tertiary;
}

p {
    color: $dark-theme-text-tertiary;
    font-size: 15px;
    font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Modules                          */
/* -------------------------------------------------------------------------- */

@mixin rounded-box {
    // Layout
    width: 350px;
    height: 50px;
    margin-top: 10px;
    padding: 15px;

    // Children
    span {
        padding: 0 4px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: $dark-theme-text-secondary;
    }

    // Decoration
    border-radius: 15px;
    background-color: $dark-theme-background-tertiary;
    border: none;
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Buttons Styling                          */
/* -------------------------------------------------------------------------- */

@mixin button {
    background-color: transparent; 
    border: none;
    cursor: pointer;
    &:focus {
        outline:0;
    }
    span {
        color: $highlight-pink-primary;
    }
}

.button-primary {
    @include rounded-box;
    @include button;

    // Changes
    width: 150px;
    background-color: $highlight-pink-secondary;

    &.left {
        grid-column: 1 / span 1;
        justify-self: flex-start;
    }
    &.right {
        grid-column: 2 / span 1;
        justify-self: flex-end;
    }
}

.button-secondary {
    @include button;   
}

.continue-with-button {
    @extend .button-primary;

    // Changes
    width: 350px;
    margin: 10px 0;
    background-color: $dark-theme-background-secondary;
    span {
        color: $dark-theme-text-primary;  
    }        
    
    // Special logos
    &.google {
        background-color: $light-theme-background-secondary;  
        span {
            color: $light-theme-text-primary;
        }
    }   
    &.facebook {
        background-color: #003BFF;
        margin-bottom: 0;
    }
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */

.input-group {
    // Layout
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 30px;
    }

    // Generic input
    .input-text,
    .input-password,
    .input-search {
        @include rounded-box;
        padding: 0;

        input {
            @include rounded-box;
            margin: 0; 
            
            // Typography
            background-color: $dark-theme-background-tertiary;
            color: $dark-theme-text-primary;
            font-size: 17px;
            font-weight: 400;

            // Decoration
            background-color: transparent;
            &:focus {
                outline: 0;
            }
            &:placeholder {
                color: $dark-theme-text-secondary;
            }
            &::-webkit-calendar-picker-indicator {
                filter: invert(1);
            }
        }
        input:focus {
            outline: 0;
        }
    }

    .input-password {
        input {
            width: 305px;
        }
    }

    .input-search {
        padding-left: 15px;
        input {
            width: 305px;  

            // Search close button styling
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                height: 1em;
                width: 1em;
                background: url(../assets/close.svg) no-repeat 50% 50%;
                background-size: contain;
                opacity: 0;
                pointer-events: none;
            }   
            &:focus::-webkit-search-cancel-button {
                opacity: 1;
                pointer-events: all;
                cursor: pointer;
            }
        }
        
    }

    label {
        color: $dark-theme-text-secondary;
    }
}

.instruction-group {
    margin-bottom: 40px;
    h2 {
        margin-bottom: 10px;
    }
    p {
        width: 300px;
    }
    &.center {
       justify-self: center;
       text-align: center;
    }
    &.no-margin {
        margin-bottom: 0;
    }
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Registration Form                         */
/* -------------------------------------------------------------------------- */

.view-layout .form-container {
    // Self Positioning
    grid-area: 1 / 2 / span 1 / span 1;

    // Children layout
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    .logo {
        margin-bottom: 75px;
    }

    .or-divider {
        // Children layout
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        justify-items: center;
        margin: 30px 0;

        .line {
            grid-column: 1 / span 3;
            border-top: 1px solid $dark-theme-text-secondary;
            width: 350px;
        }
        p {
            grid-column: 2 / span 1;
            position: relative;
            top: 9px;
            width: 40px;
            text-align: center;
            background-color: $dark-theme-background-primary;
        }
    }
       
    #input-username-picker label {
        color: $color-success-green;
    }   
}

#login {
    grid-template-columns: 1fr;

    #button-sign-in {
        margin-bottom: 30px;
        button {
            width: 350px;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Skill Box Styling                         */
/* -------------------------------------------------------------------------- */

.skill-container {
    // Self Positioning
    grid-column: 1 / span 2;
    margin: 30px 0;

    // Children layout
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;

    .skill-group {
        .skill {
            @include rounded-box;

            span img {
                filter: invert(72%) sepia(19%) saturate(0%) hue-rotate(165deg) brightness(101%) contrast(89%);
            }

            &.selected {
                background-color: $highlight-pink-secondary;
                span {
                    color: $highlight-pink-primary;
                    img {
                        filter: invert(15%) sepia(86%) saturate(6807%) hue-rotate(323deg) brightness(99%) contrast(105%);
                    }
                }
            }
        }
    }
}
