/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Color Variables                       */
/* -------------------------------------------------------------------------- */

// Theme variable
$theme: "light";

// Light theme (default) colors
$theme-text-primary: #1C1C1C;
$theme-text-secondary: #5B5B5B;
$theme-text-tertiary: #848484;
$theme-background-primary: #FFFFFF;
$theme-background-secondary: #F2F2F7;
$theme-background-tertiary: #D1D1D6;

// Dark theme colors
@if $theme == "dark" {
    $theme-text-primary: #F4F4F4;
    $theme-text-secondary: #BBBBBB;
    $theme-text-tertiary: #BBBBBB;
    $theme-background-primary: #000000;
    $theme-background-secondary: #1C1C1E;
    $theme-background-tertiary: #2C2C2E;
}

// Highlight colors
$highlight-pink-primary: #EB0877;
$highlight-pink-secondary: #470224;
$highlight-pink-tertiary: #E6ADC9;
$highlight-blue-primary: #00E0FF;
$highlight-blue-secondary: #003840;
$highlight-blue-tertiary: #BFF7FF;
$highlight-green-primary: #24FFB0;
$highlight-green-secondary: #09402C;
$highlight-green-tertiary: #C8FFEB;

// Generic colors
$color-success-green: #4CD16B;

/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Layout                           */
/* -------------------------------------------------------------------------- */

// CSS Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    top: 0;
}

// Body styling
body {
    background-color: $theme-background-primary;
}

#view-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    justify-items: center;
    align-items: center;
    .symbol {
        align-self: flex-start;
        justify-self: start;
        margin-top: 40px;
        margin-left: 40px;
    }
}

// Self layout
.left {
    grid-column: 1 / span 1;
    justify-self: flex-start;
}
.right {
    grid-column: 2 / span 1;
    justify-self: flex-end;
}
.stretch {
    grid-column: 1 / span 2;
    justify-self: center;
}

// Scrollbar styling
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C4C4C4; 
    border-radius: 5px;
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */

* {
    font-family: 'Aileron', sans-serif;
    color: $theme-text-primary;
    user-select: none;
}

a, span { 
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: $theme-text-tertiary;
}

p {
    color: $theme-text-tertiary;
    font-size: 15px;
    font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                      #pragma Default Icon Coloring                         */
/* -------------------------------------------------------------------------- */

.symbol, .logo {
    filter: invert(0%) sepia(6%) saturate(2419%) hue-rotate(37deg) brightness(89%) contrast(78%);
    @if $theme == "dark" {
        filter: invert(100%) sepia(62%) saturate(0%) hue-rotate(180deg) brightness(113%) contrast(91%);
    }
}

svg {
    fill: $theme-text-tertiary;

    &.check {
        fill: $color-success-green;
    }
    &.x {
        fill: $highlight-pink-primary;
    }
}

*::-webkit-calendar-picker-indicator {
    filter: invert(54%) sepia(0%) saturate(82%) hue-rotate(144deg) brightness(96%) contrast(89%);

    @if $theme == "dark" {
        filter: invert(15%) sepia(3%) saturate(601%) hue-rotate(202deg) brightness(96%) contrast(92%);
    }
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Modules                          */
/* -------------------------------------------------------------------------- */

@mixin rounded-box {
    // Layout
    width: 100%;
    height: 50px;
    
    // Children layout
    display: flex;
    align-items: center;
    justify-content: center;

    // Children
    label {
        color: $theme-text-secondary;
    }
    img, svg {
        margin-right: 5px;
    }

    // Decoration
    border-radius: 15px;
    background-color: $theme-background-secondary;
    border: none;
    &:focus {
        outline:0;
    }
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Button Styling                           */
/* -------------------------------------------------------------------------- */

@mixin button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    label {
        color: $highlight-pink-primary;
        cursor: pointer;
    }
    &:focus {
        outline:0;
    }
}

.button-primary {
    @include rounded-box;
    @include button;

    // Changes
    background-color: $highlight-pink-primary;
    label {
        color: $theme-background-primary;
    } 
}

.button-secondary {
    @include rounded-box;
    @include button;

    // Changes
    background-color: $highlight-pink-tertiary;
    width: 50%;
}

.button-tertiary {
    @include button;
}

.continue-with-button {
    @extend .button-primary;    
    
    // Special logos
    &.google {
        margin-bottom: 20px;
        background-color: #FFFFFF;
        border: 1px solid #1C1C1C;
        label {
            color: #1C1C1C;
        }
    }   
    &.facebook {
        background-color: #003BFF;
        label {
            color: #FFFFFF;  
        }  
    }
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */

.input-group {
    // Layout
    width: 100%;
    margin-bottom: 20px;
    &:last-of-type {
        margin-bottom: 30px;
    }

    // Generic input
    .input-text,
    .input-search,
    .input-date,
    .input-select,
    .input-username,
    .input-textarea {
        @include rounded-box;

        // Layout
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input, textarea {
            @include rounded-box;
            margin: 0;
            
            // Typography
            background-color: $theme-background-tertiary;
            color: $theme-text-primary;
            font-size: 17px;
            font-weight: 400;

            // Decoration
            background-color: transparent;
            &:placeholder {
                color: $theme-text-secondary;
            }
            &:invalid::-webkit-datetime-edit {
                color: $theme-text-secondary;
            }
            &:focus {
                outline: 0;
            }
        }
        svg {
            width: 70px;
        }
    }
    .input-search {
        padding: 0 15px;
        input {
            // Search close button styling
            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
                height: 1em;
                width: 1em;
                background: url(../assets/close.svg) no-repeat 50% 50%;
                background-size: contain;
                opacity: 0;
                pointer-events: none;
            }  
            &:focus::-webkit-search-cancel-button {
                opacity: 1;
                pointer-events: all;
                cursor: pointer;
            }
        }
        svg {
            width: 20px;
            margin-right: 10px;
        }
    }

    .input-date {
        input {
            width: 95%;
        }
    }
    .input-select {
        -webkit-appearance: none;

        background-image:
            url(../assets/arrow-down.svg);
        background-position:
            calc(100% - 20px) calc(50%);
        background-size:
            15px 15px;
        background-repeat: no-repeat;
    }
    .input-username {
        .available {
            width: 120px;
            font-size: 14px;
            color: $theme-text-tertiary;
        }
        .dot {
            height: 10px;
            width: 10px;
            margin-right: 5px;
            background-color: $color-success-green;
            border-radius: 50%;
            display: inline-block;
        }
    }
    .input-textarea {
        grid-column: 1 / span 2;
        width: 100%;
        height: 300px;
        padding: 15px;
        textarea {
            border-radius: 0;
            resize: none;
            width: 100%;
            height: 100%;
        }
    }
    .skill-picker {
        border-radius: 15px;
        background-color: $theme-background-secondary;
        height: auto;
        display: flex;
        flex-wrap: wrap;

        svg {
            width: 20px;
            margin-right: 10px;
        }
        .input-search {
            width: 100%;
        }
        .divider {
            width: calc(100% + 100px);;
            border-top: 1px solid $theme-background-tertiary;
        }
        .selected {
            display: flex;
            flex-wrap: wrap;
            padding: 10px 10px 10px 10px;

            .skill {
                @include rounded-box;
                width: auto;
                height: auto;
                margin: 5px;
                background-color: $highlight-pink-primary;
                label {
                    color: $theme-background-primary;
                    font-size: 12px;
                }
                svg {
                    margin: 0 5px;
                    fill: $theme-background-primary;
                }
                .close {
                    cursor: pointer;
                }
            }
        }
        .dropdown {
            width: 100%;
            height: 20vh;
            padding: 10px 10px 0 10px;
            overflow-y: scroll;
            overflow-x: hidden;
   
            .section-title {
                font-size: 14px;
                color: $theme-text-secondary;
            }
            .skill-group {
                margin-bottom: 30px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            .skill label {
                font-size: 14px;
                color: $theme-text-primary;
            }
            .skill {
                margin: 10px 0;
            }


            input[type="checkbox"] {
                position: absolute;
                opacity: 0;
                z-index: -1;
            }
            label {
                position: relative;
                display: inline-block;
                padding-left: 30px;
                height: 1.5em;
                line-height: 1.5;
            }
            label::before,
            label::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 1.5em;
                height: 1.5em;
                cursor: pointer;
            }
            label::before {
                content: " ";
                border: 1px solid #bdc3c7;
                border-radius: 20%;
            }
            /* Checkbox */
            input[type="checkbox"] + label::after {
                content: "\2713";
                color: $theme-background-primary;
                line-height: 1.5;
                text-align: center;
            }
            /* :checked */
            input[type="checkbox"]:checked + label::before {
                background: $highlight-pink-primary;
                border: 0;
            }
            input[type="checkbox"] + label::after {
                -webkit-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
                transform: scale(0);
            }
            input[type="checkbox"]:checked + label::after {
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
            /* Transition */
            label::before,
            label::after {
                -webkit-transition: .25s all ease;
                -o-transition: .25s all ease;
                transition: .25s all ease;
            }
        }
    }
    
    
    label {
        color: $theme-text-tertiary;

        // Default margin
        line-height: 30px;

        // Different label positions
        &.top {
            margin-bottom: 10px;
        }
        &.bottom {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
}

/* -------------------------------------------------------------------------- */
/*                     #pragma Supplementary Text Elements                    */
/* -------------------------------------------------------------------------- */

// Group with form instructions
.instruction-group {
    width: 100%;
    margin-top: 15vh;
    margin-bottom: 40px;
    grid-column: 1 / span 2;
    justify-self: flex-start;
    
    // Children layout
    display: grid;
    grid-template-columns: 2fr 1fr;

    h2 {
        grid-column: 1 / span 1;
    }
    h3 {
        grid-column: 1 / span 2;
        text-transform: uppercase;
        color: $theme-text-secondary;
        margin-bottom: 5px;
    }
    label {
        grid-column: 2 / span 1;
        justify-self: right;
        align-self: flex-end;
        text-transform: uppercase;
    }

    // Progress bar styling
    .progress-bar {
        grid-column: 1 / span 2;
        margin-top: 10px;
        width: 100%;
        height: 5px;
        display: flex;
        justify-content: space-between;
    
        .unselected, .selected {
            height: 5px;
            width: 24.5%;
            border-radius: 5px;
            background-color: $highlight-pink-tertiary;
        }
        .selected {
            background-color: $highlight-pink-primary;
        }
    }
}

// Password type checker
.password-validator {
    // Self align
    grid-column: 1 / span 2;
    justify-self: flex-start;

    // Children layout
    display: flex;
    flex-direction: column;

    span {
        margin: 5px 0;
        svg {
            margin-right: 5px;
        }
    }
}

// Terms of Service
.TOS {
    width: 60%;
    justify-self: center;
    text-align: center;
    font-size: 13px;
    margin-top: 10px;

    a {
        color: $highlight-pink-primary;
        font-size: 13px;
        margin: 0;
    }
}

/* -------------------------------------------------------------------------- */
/*                       #pragma Registration Form Layout                     */
/* -------------------------------------------------------------------------- */

.App {
    // Self Positioning
    grid-area: 1 / 2 / span 1 / span 1;
    height: 100vh;
    display: flex;
}

.form-container {
    // Self layout
    align-self: flex-start;

    // Children layout
    display: grid;
    grid-template-columns: 350px 350px;
    column-gap: 40px;
    justify-items: center;

    .logo {
        margin-bottom: 75px;
    }
    .or-divider {
        // Children layout
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        justify-items: center;
        margin: 30px 0;

        .line {
            grid-column: 1 / span 3;
            border-top: 1px solid $theme-text-secondary;
            width: 350px;
        }
        p {
            grid-column: 2 / span 1;
            position: relative;
            top: 9px;
            width: 40px;
            text-align: center;
            background-color: $theme-background-primary;
        }
    }  
}

// Special cases
#login {
    grid-template-columns: 350px;
    align-self: center;

    #button-sign-in {
        margin-bottom: 30px;
        width: 100%;
    }
}
// #sign-up-1 {
//     grid-template-rows: repeat(5, auto) 400px;
// }
#button-back, #button-continue {
    margin-top: 60px;
    width: 100%;
}
#end {
    grid-template-columns: 350px;
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                      #pragma Skill Selector Styling                        */
/* -------------------------------------------------------------------------- */

.skill-container {
    // Self Positioning
    grid-column: 1 / span 2;
    width: 100%;
    margin: 20px 0;

    // Children layout
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;

    .skill-group {
        .skill {
            @include rounded-box;
            margin: 10px 0;
            cursor: pointer;

            &.selected {
                background-color: $highlight-pink-secondary;
                label {
                    color: $highlight-pink-primary;    
                }
                svg {
                    fill: $highlight-pink-primary;
                }
            }
        }
    }
}