/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Styling Variables                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           #pragma Utility Styling                          */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  top: 0;
}

body {
  background-color: #000000;
}

.view-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;
}

.view-layout #logo {
  align-self: flex-start;
  justify-self: start;
  margin-top: 40px;
  margin-left: 40px;
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */
* {
  font-family: 'Aileron', sans-serif;
  color: #F4F4F4;
  user-select: none;
}

a, span {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #BBBBBB;
}

p {
  color: #BBBBBB;
  font-size: 15px;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Modules                          */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           #pragma Buttons Styling                          */
/* -------------------------------------------------------------------------- */
.button-primary, .continue-with-button {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #2C2C2E;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  background-color: #470224;
}

.button-primary label, .continue-with-button label {
  color: #BBBBBB;
}

.button-primary img, .continue-with-button img {
  margin-right: 5px;
}

.button-primary:focus, .continue-with-button:focus {
  outline: 0;
}

.button-primary label, .continue-with-button label {
  color: #EB0877;
}

.button-primary:focus, .continue-with-button:focus {
  outline: 0;
}

.button-primary.left, .left.continue-with-button {
  grid-column: 1 / span 1;
  justify-self: flex-start;
}

.button-primary.right, .right.continue-with-button {
  grid-column: 2 / span 1;
  justify-self: flex-end;
}

.button-secondary {
  background-color: transparent;
  border: none;
}

.button-secondary label {
  color: #EB0877;
}

.button-secondary:focus {
  outline: 0;
}

.continue-with-button {
  background-color: #1C1C1E;
}

.continue-with-button label {
  color: #F4F4F4;
}

.continue-with-button.google {
  margin-bottom: 20px;
  background-color: #F2F2F7;
}

.continue-with-button.google label {
  color: #1C1C1C;
}

.continue-with-button.facebook {
  background-color: #003BFF;
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */
.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group:last-of-type {
  margin-bottom: 30px;
}

.input-group .input-text,
.input-group .input-password,
.input-group .input-search {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #2C2C2E;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group .input-text label,
.input-group .input-password label,
.input-group .input-search label {
  color: #BBBBBB;
}

.input-group .input-text img,
.input-group .input-password img,
.input-group .input-search img {
  margin-right: 5px;
}

.input-group .input-text:focus,
.input-group .input-password:focus,
.input-group .input-search:focus {
  outline: 0;
}

.input-group .input-text input,
.input-group .input-password input,
.input-group .input-search input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #2C2C2E;
  border: none;
  cursor: pointer;
  margin: 0;
  background-color: #2C2C2E;
  color: #F4F4F4;
  font-size: 17px;
  font-weight: 400;
  background-color: transparent;
}

.input-group .input-text input label,
.input-group .input-password input label,
.input-group .input-search input label {
  color: #BBBBBB;
}

.input-group .input-text input img,
.input-group .input-password input img,
.input-group .input-search input img {
  margin-right: 5px;
}

.input-group .input-text input:focus,
.input-group .input-password input:focus,
.input-group .input-search input:focus {
  outline: 0;
}

.input-group .input-text input:placeholder,
.input-group .input-password input:placeholder,
.input-group .input-search input:placeholder {
  color: #BBBBBB;
}

.input-group .input-text input::-webkit-calendar-picker-indicator,
.input-group .input-password input::-webkit-calendar-picker-indicator,
.input-group .input-search input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.input-group .input-text input:focus,
.input-group .input-password input:focus,
.input-group .input-search input:focus {
  outline: 0;
}

.input-group .input-text svg,
.input-group .input-password svg,
.input-group .input-search svg {
  width: 50px;
}

.input-group .input-search {
  padding-left: 15px;
}

.input-group .input-search input {
  width: 305px;
}

.input-group .input-search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url(../assets/close.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

.input-group .input-search input:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.input-group label {
  color: #BBBBBB;
}

.instruction-group {
  margin-bottom: 40px;
}

.instruction-group h2 {
  margin-bottom: 10px;
}

.instruction-group p {
  width: 300px;
}

.instruction-group.center {
  justify-self: center;
  text-align: center;
}

.instruction-group.no-margin {
  margin-bottom: 0;
}

.password-validator {
  grid-column: 1 / span 2;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
}

.password-validator span {
  margin: 5px 0;
}

.password-validator span svg {
  margin-right: 5px;
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Registration Form                         */
/* -------------------------------------------------------------------------- */
.view-layout .form-container {
  grid-area: 1 / 2 / span 1 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  justify-items: center;
}

.view-layout .form-container .logo {
  margin-bottom: 75px;
}

.view-layout .form-container .or-divider {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  margin: 30px 0;
}

.view-layout .form-container .or-divider .line {
  grid-column: 1 / span 3;
  border-top: 1px solid #BBBBBB;
  width: 350px;
}

.view-layout .form-container .or-divider p {
  grid-column: 2 / span 1;
  position: relative;
  top: 9px;
  width: 40px;
  text-align: center;
  background-color: #000000;
}

.view-layout .form-container #input-username-picker label {
  color: #4CD16B;
}

#login {
  grid-template-columns: 350px;
}

#login #button-sign-in {
  margin-bottom: 30px;
}

#login #button-sign-in button {
  width: 350px;
}

#sign-up-1 .instruction-group {
  grid-column: 1 / span 2;
  justify-self: flex-start;
}

#sign-up-1 #first-name {
  justify-self: left;
}

#sign-up-1 #last-name {
  grid-column: 2 / span 1;
  justify-self: right;
}

#sign-up-1 #email, #sign-up-1 #password {
  grid-column: 1 / span 2;
}

#sign-up-1 #button-continue {
  grid-column: 2 / span 1;
  margin-top: 60px;
  width: 100%;
  justify-self: flex-end;
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Skill Box Styling                         */
/* -------------------------------------------------------------------------- */
.skill-container {
  grid-column: 1 / span 2;
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.skill-container .skill-group .skill {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #2C2C2E;
  border: none;
  cursor: pointer;
}

.skill-container .skill-group .skill label {
  color: #BBBBBB;
}

.skill-container .skill-group .skill img {
  margin-right: 5px;
}

.skill-container .skill-group .skill:focus {
  outline: 0;
}

.skill-container .skill-group .skill span img {
  filter: invert(72%) sepia(19%) saturate(0%) hue-rotate(165deg) brightness(101%) contrast(89%);
}

.skill-container .skill-group .skill.selected {
  background-color: #470224;
}

.skill-container .skill-group .skill.selected span {
  color: #EB0877;
}

.skill-container .skill-group .skill.selected span img {
  filter: invert(15%) sepia(86%) saturate(6807%) hue-rotate(323deg) brightness(99%) contrast(105%);
}
