/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Color Variables                       */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Layout                           */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  top: 0;
}

body {
  background-color: #FFFFFF;
}

#view-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;
}

#view-layout .symbol {
  align-self: flex-start;
  justify-self: start;
  margin-top: 40px;
  margin-left: 40px;
}

.left {
  grid-column: 1 / span 1;
  justify-self: flex-start;
}

.right {
  grid-column: 2 / span 1;
  justify-self: flex-end;
}

.stretch {
  grid-column: 1 / span 2;
  justify-self: center;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 5px;
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */
* {
  font-family: 'Aileron', sans-serif;
  color: #1C1C1C;
  user-select: none;
}

a, span {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #848484;
}

p {
  color: #848484;
  font-size: 15px;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                      #pragma Default Icon Coloring                         */
/* -------------------------------------------------------------------------- */
.symbol, .logo {
  filter: invert(0%) sepia(6%) saturate(2419%) hue-rotate(37deg) brightness(89%) contrast(78%);
}

svg {
  fill: #848484;
}

svg.check {
  fill: #4CD16B;
}

svg.x {
  fill: #EB0877;
}

*::-webkit-calendar-picker-indicator {
  filter: invert(54%) sepia(0%) saturate(82%) hue-rotate(144deg) brightness(96%) contrast(89%);
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Modules                          */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           #pragma Button Styling                           */
/* -------------------------------------------------------------------------- */
.button-primary, .continue-with-button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: #EB0877;
}

.button-primary label, .continue-with-button label {
  color: #5B5B5B;
}

.button-primary img, .continue-with-button img, .button-primary svg, .continue-with-button svg {
  margin-right: 5px;
}

.button-primary:focus, .continue-with-button:focus {
  outline: 0;
}

.button-primary label, .continue-with-button label {
  color: #EB0877;
  cursor: pointer;
}

.button-primary:focus, .continue-with-button:focus {
  outline: 0;
}

.button-primary.bottom-margin, .bottom-margin.continue-with-button {
  margin-top: 60px;
}

.button-primary label, .continue-with-button label {
  color: #FFFFFF;
}

.button-primary.disabled, .disabled.continue-with-button {
  cursor: unset;
  background-color: #E6ADC9;
}

.button-primary.disabled label, .disabled.continue-with-button label {
  cursor: unset;
  color: #EB0877;
}

.button-secondary {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: #E6ADC9;
  width: 50%;
}

.button-secondary label {
  color: #5B5B5B;
}

.button-secondary img, .button-secondary svg {
  margin-right: 5px;
}

.button-secondary:focus {
  outline: 0;
}

.button-secondary label {
  color: #EB0877;
  cursor: pointer;
}

.button-secondary:focus {
  outline: 0;
}

.button-secondary.bottom-margin {
  margin-top: 60px;
}

.button-tertiary {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-tertiary label {
  color: #EB0877;
  cursor: pointer;
}

.button-tertiary:focus {
  outline: 0;
}

.button-tertiary.bottom-margin {
  margin-top: 60px;
}

.continue-with-button.google {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #1C1C1C;
}

.continue-with-button.google label {
  color: #1C1C1C;
}

.continue-with-button.facebook {
  background-color: #003BFF;
}

.continue-with-button.facebook label {
  color: #FFFFFF;
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */
.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group:last-of-type {
  margin-bottom: 30px;
}

.input-group .input-text,
.input-group .input-search,
.input-group .input-date,
.input-group .input-username,
.input-group .input-textarea {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group .input-text label,
.input-group .input-search label,
.input-group .input-date label,
.input-group .input-username label,
.input-group .input-textarea label {
  color: #5B5B5B;
}

.input-group .input-text img, .input-group .input-text svg,
.input-group .input-search img,
.input-group .input-search svg,
.input-group .input-date img,
.input-group .input-date svg,
.input-group .input-username img,
.input-group .input-username svg,
.input-group .input-textarea img,
.input-group .input-textarea svg {
  margin-right: 5px;
}

.input-group .input-text:focus,
.input-group .input-search:focus,
.input-group .input-date:focus,
.input-group .input-username:focus,
.input-group .input-textarea:focus {
  outline: 0;
}

.input-group .input-text input, .input-group .input-text textarea,
.input-group .input-search input,
.input-group .input-search textarea,
.input-group .input-date input,
.input-group .input-date textarea,
.input-group .input-username input,
.input-group .input-username textarea,
.input-group .input-textarea input,
.input-group .input-textarea textarea {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
  margin: 0;
  background-color: #D1D1D6;
  color: #1C1C1C;
  font-size: 17px;
  font-weight: 400;
  background-color: transparent;
}

.input-group .input-text input label, .input-group .input-text textarea label,
.input-group .input-search input label,
.input-group .input-search textarea label,
.input-group .input-date input label,
.input-group .input-date textarea label,
.input-group .input-username input label,
.input-group .input-username textarea label,
.input-group .input-textarea input label,
.input-group .input-textarea textarea label {
  color: #5B5B5B;
}

.input-group .input-text input img, .input-group .input-text input svg, .input-group .input-text textarea img, .input-group .input-text textarea svg,
.input-group .input-search input img,
.input-group .input-search input svg,
.input-group .input-search textarea img,
.input-group .input-search textarea svg,
.input-group .input-date input img,
.input-group .input-date input svg,
.input-group .input-date textarea img,
.input-group .input-date textarea svg,
.input-group .input-username input img,
.input-group .input-username input svg,
.input-group .input-username textarea img,
.input-group .input-username textarea svg,
.input-group .input-textarea input img,
.input-group .input-textarea input svg,
.input-group .input-textarea textarea img,
.input-group .input-textarea textarea svg {
  margin-right: 5px;
}

.input-group .input-text input:focus, .input-group .input-text textarea:focus,
.input-group .input-search input:focus,
.input-group .input-search textarea:focus,
.input-group .input-date input:focus,
.input-group .input-date textarea:focus,
.input-group .input-username input:focus,
.input-group .input-username textarea:focus,
.input-group .input-textarea input:focus,
.input-group .input-textarea textarea:focus {
  outline: 0;
}

.input-group .input-text input:placeholder, .input-group .input-text textarea:placeholder,
.input-group .input-search input:placeholder,
.input-group .input-search textarea:placeholder,
.input-group .input-date input:placeholder,
.input-group .input-date textarea:placeholder,
.input-group .input-username input:placeholder,
.input-group .input-username textarea:placeholder,
.input-group .input-textarea input:placeholder,
.input-group .input-textarea textarea:placeholder {
  color: #5B5B5B;
}

.input-group .input-text input:focus, .input-group .input-text textarea:focus,
.input-group .input-search input:focus,
.input-group .input-search textarea:focus,
.input-group .input-date input:focus,
.input-group .input-date textarea:focus,
.input-group .input-username input:focus,
.input-group .input-username textarea:focus,
.input-group .input-textarea input:focus,
.input-group .input-textarea textarea:focus {
  outline: 0;
}

.input-group .input-text svg,
.input-group .input-search svg,
.input-group .input-date svg,
.input-group .input-username svg,
.input-group .input-textarea svg {
  width: 70px;
  cursor: pointer;
}

.input-group .input-search {
  padding: 0 15px;
}

.input-group .input-search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url(../assets/close.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

.input-group .input-search input:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.input-group .input-search svg {
  width: 20px;
  margin-right: 10px;
}

.input-group .input-date input {
  width: 95%;
}

.input-group .input-date input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.input-group .input-date input:invalid::-webkit-datetime-edit {
  color: #5B5B5B;
}

.input-group .input-username .availability {
  width: 120px;
  font-size: 14px;
  color: #848484;
}

.input-group .input-username .dot {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  border-radius: 50%;
  display: inline-block;
  background-color: #4CD16B;
}

.input-group .input-username .dot.red {
  background-color: #ff0000b2;
}

.input-group .input-textarea {
  grid-column: 1 / span 2;
  width: 100%;
  height: 300px;
  padding: 15px;
}

.input-group .input-textarea textarea {
  border-radius: 0;
  resize: none;
  width: 100%;
  height: 100%;
}

.input-group .input-select {
  position: relative;
  background-color: #F2F2F7;
  border-radius: 15px;
  font-size: 17px;
}

.input-group .input-select.dropped {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .input-select *:focus {
  outline: 0;
}

.input-group .input-select[open] {
  z-index: 1;
}

.input-group .input-select[open] summary:before {
  content: '';
  display: block;
  width: 100vw;
  height: 100vh;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

.input-group .input-select summary {
  padding: 1rem;
  cursor: pointer;
  list-style: none;
}

.input-group .input-select summary:after {
  content: '';
  display: inline-block;
  float: right;
  width: .5rem;
  height: .5rem;
  border-bottom: 2px solid #848484;
  border-left: 2px solid #848484;
  margin-right: 5px;
  transform: rotate(-45deg) translate(0%, 50%);
}

.input-group .input-select summary input[type=radio] {
  appearance: none;
  display: none;
  pointer-events: none;
  font-size: 17px;
}

.input-group .input-select summary input[type=radio]:checked {
  display: inline;
}

.input-group .input-select summary input[type=radio]:after {
  content: attr(title);
  font-size: 1rem;
}

.input-group .input-select summary #default {
  color: #5B5B5B;
}

.input-group .input-select ul {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background-color: #F2F2F7;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.input-group .input-select ul li {
  list-style: none;
}

.input-group .input-select ul li:hover {
  background: #D1D1D6;
}

.input-group .input-select ul li:last-of-type {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.input-group .input-select ul li:last-child label {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.input-group .input-select ul li label {
  width: 100%;
  display: block;
  padding: 1rem;
  cursor: pointer;
  color: #1C1C1C;
  font-size: 17px;
  font-weight: 400;
}

.input-group .input-select ul li label.selected {
  background: #D1D1D6;
}

.input-group .skill-picker {
  position: relative;
  background-color: #F2F2F7;
  border-radius: 15px;
}

.input-group .skill-picker.dropped {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .skill-picker *:focus {
  outline: 0;
}

.input-group .skill-picker .top-group {
  cursor: pointer;
  list-style: none;
}

.input-group .skill-picker .top-group .input-search {
  width: 100%;
}

.input-group .skill-picker .top-group .input-search svg {
  width: 20px;
  margin-right: 10px;
}

.input-group .skill-picker .top-group .selected {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0px 10px;
}

.input-group .skill-picker .top-group .selected .skill {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
  width: auto;
  height: auto;
  margin: 5px;
  background-color: #EB0877;
}

.input-group .skill-picker .top-group .selected .skill label {
  color: #5B5B5B;
}

.input-group .skill-picker .top-group .selected .skill img, .input-group .skill-picker .top-group .selected .skill svg {
  margin-right: 5px;
}

.input-group .skill-picker .top-group .selected .skill:focus {
  outline: 0;
}

.input-group .skill-picker .top-group .selected .skill label {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
}

.input-group .skill-picker .top-group .selected .skill svg {
  margin: 0 5px;
  fill: #FFFFFF;
}

.input-group .skill-picker .top-group .selected .skill .close {
  cursor: pointer;
}

.input-group .skill-picker .dropdown {
  width: 100%;
  position: absolute;
  background-color: #F2F2F7;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  overflow: hidden;
}

.input-group .skill-picker .dropdown .divider {
  width: 100%;
  border-top: 1px solid #D1D1D6;
}

.input-group .skill-picker .dropdown .skills {
  position: relative;
  width: 100%;
  height: 20vh;
  padding: 10px 10px 0 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.input-group .skill-picker .dropdown .skills .section-title {
  font-size: 14px;
  font-weight: 600;
  color: #5B5B5B;
}

.input-group .skill-picker .dropdown .skills .skill-group {
  margin-bottom: 30px;
}

.input-group .skill-picker .dropdown .skills .skill-group:last-of-type {
  margin-bottom: 0;
}

.input-group .skill-picker .dropdown .skills .skill label {
  font-size: 14px;
  font-weight: 400;
  color: #1C1C1C;
}

.input-group .skill-picker .dropdown .skills .skill {
  margin: 10px 0;
}

.input-group .skill-picker .dropdown .skills input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.input-group .skill-picker .dropdown .skills label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  height: 1.5em;
  line-height: 1.5;
  cursor: pointer;
}

.input-group .skill-picker .dropdown .skills label::before, .input-group .skill-picker .dropdown .skills label::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  transition: .25s all ease;
}

.input-group .skill-picker .dropdown .skills label::before {
  content: " ";
  border: 1px solid #bdc3c7;
  border-radius: 20%;
}

.input-group .skill-picker .dropdown .skills input[type="checkbox"] + label::after {
  content: "\2713";
  color: #FFFFFF;
  line-height: 1.5;
  text-align: center;
  transform: scale(0);
}

.input-group .skill-picker .dropdown .skills input[type="checkbox"]:checked + label::before {
  background: #EB0877;
  border: 0;
}

.input-group .skill-picker .dropdown .skills input[type="checkbox"]:checked + label::after {
  transform: scale(1);
}

/* -------------------------------------------------------------------------- */
/*                     #pragma Supplementary Text Elements                    */
/* -------------------------------------------------------------------------- */
.input-group {
  border: none;
}

.input-group label {
  color: #848484;
  line-height: 30px;
}

.input-group label.top {
  margin-bottom: 10px;
}

.input-group label.bottom {
  margin-top: 10px;
  margin-bottom: 0;
}

.instruction-group {
  width: 100%;
  margin-top: 15vh;
  margin-bottom: 40px;
  grid-column: 1 / span 2;
  justify-self: flex-start;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.instruction-group h2 {
  grid-column: 1 / span 1;
}

.instruction-group h3 {
  grid-column: 1 / span 2;
  text-transform: uppercase;
  color: #5B5B5B;
  margin-bottom: 5px;
}

.instruction-group label {
  grid-column: 2 / span 1;
  justify-self: right;
  align-self: flex-end;
  text-transform: uppercase;
}

.instruction-group .progress-bar {
  grid-column: 1 / span 2;
  margin-top: 10px;
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: space-between;
}

.instruction-group .progress-bar .unselected, .instruction-group .progress-bar .selected {
  height: 5px;
  width: 24.5%;
  border-radius: 5px;
  background-color: #E6ADC9;
}

.instruction-group .progress-bar .selected {
  background-color: #EB0877;
}

.password-validator {
  grid-column: 1 / span 2;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
}

.password-validator span {
  margin: 5px 0;
}

.password-validator span svg {
  margin-right: 5px;
}

.TOS {
  width: 60%;
  justify-self: center;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}

.TOS a {
  color: #EB0877;
  font-size: 13px;
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Loader Animated                          */
/* -------------------------------------------------------------------------- */
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid  #EB0877;
  width: 60px;
  height: 60px;
  /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* -------------------------------------------------------------------------- */
/*                       #pragma Registration Form Layout                     */
/* -------------------------------------------------------------------------- */
.App {
  grid-area: 1 / 2 / span 1 / span 1;
  height: 100vh;
  display: flex;
}

.form-container {
  align-self: flex-start;
  display: grid;
  grid-template-columns: 350px 350px;
  column-gap: 40px;
  justify-items: center;
}

.form-container .logo {
  margin-bottom: 75px;
}

.form-container .or-divider {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  margin: 30px 0;
}

.form-container .or-divider .line {
  grid-column: 1 / span 3;
  border-top: 1px solid #5B5B5B;
  width: 350px;
}

.form-container .or-divider p {
  grid-column: 2 / span 1;
  position: relative;
  top: 9px;
  width: 40px;
  text-align: center;
  background-color: #FFFFFF;
}

#login {
  grid-template-columns: 350px;
  align-self: center;
}

#login #button-sign-in {
  margin-bottom: 30px;
  width: 100%;
}

#register #button-finish-up {
  width: 100%;
}

#end {
  grid-template-columns: 350px;
  text-align: center;
  align-self: center;
}

#end #button-end {
  margin-top: 30px;
  width: 100%;
}
