/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Styling Variables                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           #pragma Utility Styling                          */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  top: 0;
}

body {
  background-color: #FFFFFF;
}

#view-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  align-items: center;
}

#view-layout .symbol, #view-layout .logo {
  filter: invert(0%) sepia(6%) saturate(2419%) hue-rotate(37deg) brightness(89%) contrast(78%);
}

#view-layout .symbol {
  align-self: flex-start;
  justify-self: start;
  margin-top: 40px;
  margin-left: 40px;
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */
* {
  font-family: 'Aileron', sans-serif;
  color: #1C1C1C;
  user-select: none;
}

a, span {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: #848484;
}

p {
  color: #848484;
  font-size: 15px;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Generic Modules                          */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           #pragma Buttons Styling                          */
/* -------------------------------------------------------------------------- */
.button-primary, .continue-with-button {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-color: #470224;
}

.button-primary label, .continue-with-button label {
  color: #5B5B5B;
}

.button-primary img, .continue-with-button img {
  margin-right: 5px;
}

.button-primary:focus, .continue-with-button:focus {
  outline: 0;
}

.button-primary label, .continue-with-button label {
  color: #EB0877;
  cursor: pointer;
}

.button-primary:focus, .continue-with-button:focus {
  outline: 0;
}

.button-primary.left, .left.continue-with-button {
  grid-column: 1 / span 1;
  justify-self: flex-start;
}

.button-primary.right, .right.continue-with-button {
  grid-column: 2 / span 1;
  justify-self: flex-end;
}

.button-secondary {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-secondary label {
  color: #EB0877;
  cursor: pointer;
}

.button-secondary:focus {
  outline: 0;
}

.continue-with-button.google {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #1C1C1C;
}

.continue-with-button.google label {
  color: #1C1C1C;
}

.continue-with-button.facebook {
  background-color: #003BFF;
}

.continue-with-button.facebook label {
  color: #FFFFFF;
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */
.input-group {
  width: 100%;
  margin-bottom: 20px;
}

.input-group:last-of-type {
  margin-bottom: 30px;
}

.input-group .input-text,
.input-group .input-password,
.input-group .input-search,
.input-group .input-date,
.input-group .input-select,
.input-group .input-username {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
  margin-top: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-group .input-text label,
.input-group .input-password label,
.input-group .input-search label,
.input-group .input-date label,
.input-group .input-select label,
.input-group .input-username label {
  color: #5B5B5B;
}

.input-group .input-text img,
.input-group .input-password img,
.input-group .input-search img,
.input-group .input-date img,
.input-group .input-select img,
.input-group .input-username img {
  margin-right: 5px;
}

.input-group .input-text:focus,
.input-group .input-password:focus,
.input-group .input-search:focus,
.input-group .input-date:focus,
.input-group .input-select:focus,
.input-group .input-username:focus {
  outline: 0;
}

.input-group .input-text input,
.input-group .input-password input,
.input-group .input-search input,
.input-group .input-date input,
.input-group .input-select input,
.input-group .input-username input {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
  margin: 0;
  background-color: #D1D1D6;
  color: #1C1C1C;
  font-size: 17px;
  font-weight: 400;
  background-color: transparent;
}

.input-group .input-text input label,
.input-group .input-password input label,
.input-group .input-search input label,
.input-group .input-date input label,
.input-group .input-select input label,
.input-group .input-username input label {
  color: #5B5B5B;
}

.input-group .input-text input img,
.input-group .input-password input img,
.input-group .input-search input img,
.input-group .input-date input img,
.input-group .input-select input img,
.input-group .input-username input img {
  margin-right: 5px;
}

.input-group .input-text input:focus,
.input-group .input-password input:focus,
.input-group .input-search input:focus,
.input-group .input-date input:focus,
.input-group .input-select input:focus,
.input-group .input-username input:focus {
  outline: 0;
}

.input-group .input-text input:placeholder,
.input-group .input-password input:placeholder,
.input-group .input-search input:placeholder,
.input-group .input-date input:placeholder,
.input-group .input-select input:placeholder,
.input-group .input-username input:placeholder {
  color: #5B5B5B;
}

.input-group .input-text input:focus,
.input-group .input-password input:focus,
.input-group .input-search input:focus,
.input-group .input-date input:focus,
.input-group .input-select input:focus,
.input-group .input-username input:focus {
  outline: 0;
}

.input-group .input-text svg,
.input-group .input-password svg,
.input-group .input-search svg,
.input-group .input-date svg,
.input-group .input-select svg,
.input-group .input-username svg {
  width: 70px;
}

.input-group .input-search {
  padding-left: 15px;
}

.input-group .input-search input {
  width: 305px;
}

.input-group .input-search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background: url(../assets/close.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}

.input-group .input-search input:focus::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.input-group .input-date input {
  width: 95%;
}

.input-group .input-date input::-webkit-calendar-picker-indicator {
  filter: invert(8%) sepia(0%) saturate(31%) hue-rotate(187deg) brightness(92%) contrast(91%);
}

.input-group .input-select {
  -webkit-appearance: none;
  background-image: url(../assets/arrow-down.svg);
  background-position: calc(100% - 20px) calc(50%);
  background-size: 15px 15px;
  background-repeat: no-repeat;
}

.input-group .input-username .available {
  width: 120px;
  font-size: 14px;
  color: #848484;
}

.input-group .input-username .dot {
  height: 10px;
  width: 10px;
  margin-right: 5px;
  background-color: #4CD16B;
  border-radius: 50%;
  display: inline-block;
}

.input-group label {
  color: #848484;
}

/* -------------------------------------------------------------------------- */
/*                         #pragma Form Text Elements                         */
/* -------------------------------------------------------------------------- */
.instruction-group {
  width: 100%;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.instruction-group h2 {
  grid-column: 1 / span 1;
}

.instruction-group h3 {
  grid-column: 1 / span 2;
  text-transform: uppercase;
  color: #5B5B5B;
  margin-bottom: 5px;
}

.instruction-group label {
  grid-column: 2 / span 1;
  justify-self: right;
  align-self: flex-end;
  text-transform: uppercase;
}

.instruction-group .progress-bar {
  grid-column: 1 / span 2;
  margin-top: 10px;
  width: 100%;
  height: 5px;
  display: flex;
  justify-content: space-between;
}

.instruction-group .progress-bar .unselected, .instruction-group .progress-bar .selected {
  height: 5px;
  width: 24.5%;
  border-radius: 5px;
  background-color: #E6ADC9;
}

.instruction-group .progress-bar .selected {
  background-color: #EB0877;
}

.password-validator {
  grid-column: 1 / span 2;
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
}

.password-validator span {
  margin: 5px 0;
}

.password-validator span svg {
  margin-right: 5px;
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Registration Form                         */
/* -------------------------------------------------------------------------- */
.form-container {
  grid-area: 1 / 2 / span 1 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  justify-items: center;
}

.form-container .logo {
  margin-bottom: 75px;
}

.form-container .or-divider {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-items: center;
  margin: 30px 0;
}

.form-container .or-divider .line {
  grid-column: 1 / span 3;
  border-top: 1px solid #5B5B5B;
  width: 350px;
}

.form-container .or-divider p {
  grid-column: 2 / span 1;
  position: relative;
  top: 9px;
  width: 40px;
  text-align: center;
  background-color: #FFFFFF;
}

.form-container #input-username-picker label {
  color: #4CD16B;
}

#login {
  grid-template-columns: 350px;
}

#login #button-sign-in {
  margin-bottom: 30px;
}

#login #button-sign-in button {
  width: 350px;
}

#button-back, #button-continue {
  align-self: center;
  margin-top: 60px;
  width: 100%;
}

#button-back {
  grid-column: 1 / span 1;
  justify-self: flex-start;
}

#button-continue {
  grid-column: 2 / span 1;
  justify-self: flex-end;
}

#sign-up-1 {
  width: 700px;
}

#sign-up-1 .instruction-group {
  grid-column: 1 / span 2;
  justify-self: flex-start;
}

#sign-up-1 #username {
  grid-column: 1 / span 2;
}

#sign-up-1 #username .input-username {
  margin-bottom: 10px;
}

#sign-up-1 #email, #sign-up-1 #password {
  grid-column: 1 / span 2;
}

#sign-up-2 {
  width: 700px;
}

#sign-up-2 .instruction-group {
  grid-column: 1 / span 2;
  justify-self: flex-start;
}

#sign-up-2 #first-name {
  justify-self: left;
}

#sign-up-2 #last-name {
  grid-column: 2 / span 1;
  justify-self: right;
}

#sign-up-2 #edu-name {
  grid-column: 1 / span 2;
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Skill Box Styling                         */
/* -------------------------------------------------------------------------- */
.skill-container {
  grid-column: 1 / span 2;
  margin: 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

.skill-container .skill-group .skill {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #F2F2F7;
  border: none;
}

.skill-container .skill-group .skill label {
  color: #5B5B5B;
}

.skill-container .skill-group .skill img {
  margin-right: 5px;
}

.skill-container .skill-group .skill:focus {
  outline: 0;
}

.skill-container .skill-group .skill span img {
  filter: invert(72%) sepia(19%) saturate(0%) hue-rotate(165deg) brightness(101%) contrast(89%);
}

.skill-container .skill-group .skill.selected {
  background-color: #470224;
}

.skill-container .skill-group .skill.selected span {
  color: #EB0877;
}

.skill-container .skill-group .skill.selected span img {
  filter: invert(15%) sepia(86%) saturate(6807%) hue-rotate(323deg) brightness(99%) contrast(105%);
}
