/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Styling Variables                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           #pragma Utility Styling                          */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
  top: 0;
}

body {
  background-color: #000000;
}

.view-layout {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-layout .back, .view-layout .close {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 40px;
  cursor: pointer;
}

.view-layout .back {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 40px;
}

.view-layout .close {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 40px;
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */
* {
  font-family: 'Aileron', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a, span {
  color: #F4F4F4;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

h2 {
  color: #F4F4F4;
  font-size: 30px;
  font-weight: 700;
}

p {
  color: #BBBBBB;
  font-size: 15px;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Buttons Styling                          */
/* -------------------------------------------------------------------------- */
.button-primary, .view-layout .login-container .continue-with-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 150px;
  padding: 15px;
  border-radius: 15px;
  background-color: #470224;
}

.button-primary:focus, .view-layout .login-container .continue-with-button:focus {
  outline: 0;
}

.button-primary span, .view-layout .login-container .continue-with-button span {
  color: #EB0877;
}

.button-primary span, .view-layout .login-container .continue-with-button span {
  padding: 0 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.button-primary.left, .view-layout .login-container .left.continue-with-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  justify-self: flex-start;
}

.button-primary.right, .view-layout .login-container .right.continue-with-button {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
  justify-self: flex-end;
}

.button-secondary {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-secondary:focus {
  outline: 0;
}

.button-secondary span {
  color: #EB0877;
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */
.input-group {
  margin-bottom: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.input-group:last-of-type {
  margin-bottom: 70px;
}

.input-group input {
  width: 350px;
  height: 50px;
  padding: 20px;
  margin-top: 10px;
  background-color: #2C2C2E;
  color: #F4F4F4;
  font-size: 17px;
  font-weight: 400;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.input-group input:focus {
  outline: 0;
}

.input-group input:placeholder {
  color: #BBBBBB;
}

.input-group input::-webkit-calendar-picker-indicator {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.input-group label {
  color: #BBBBBB;
}

.instruction-group {
  margin-bottom: 40px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.instruction-group h2 {
  margin-bottom: 10px;
}

.instruction-group p {
  width: 300px;
}

.instruction-group.center {
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Login Screen                            */
/* -------------------------------------------------------------------------- */
.view-layout .login-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / span 1 / span 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  justify-items: center;
}

.view-layout .login-container .logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / span 1 / span 2;
  margin-bottom: 75px;
}

.view-layout .login-container .continue-with-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 300px;
  margin: 10px 0;
  background-color: #1C1C1E;
}

.view-layout .login-container .continue-with-button span {
  color: #F4F4F4;
}

.view-layout .login-container .continue-with-button.google {
  background-color: #F2F2F7;
}

.view-layout .login-container .continue-with-button.google span {
  color: #1C1C1C;
}

.view-layout .login-container .continue-with-button.facebook {
  background-color: #003BFF;
}

.view-layout .login-container .button-secondary {
  margin-top: 20px;
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Registration Form                         */
/* -------------------------------------------------------------------------- */
.view-layout .form-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / span 1 / span 1;
  display: -ms-grid;
  display: grid;
  padding: 30px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  border: 2px solid #470224;
  border-radius: 10px;
}

.view-layout .form-container .logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  margin-bottom: 40px;
  width: 100px;
}

.view-layout .form-container #illustration {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-column-align: center;
      justify-self: center;
}

.view-layout .form-container #input-username label {
  color: #4CD16B;
}
