/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Styling Variables                     */
/* -------------------------------------------------------------------------- */

// Light theme colors
$light-theme-text-primary: #1C1C1C;
$light-theme-text-secondary: #5B5B5B;
$light-theme-text-tertiary: #848484;
$light-theme-background-primary: #FFFFFF;
$light-theme-background-secondary: #F2F2F7;
$light-theme-background-tertiary: #D1D1D6;

// Dark theme colors
$dark-theme-text-primary: #F4F4F4;
$dark-theme-text-secondary: #BBBBBB;
$dark-theme-text-tertiary: #BBBBBB;
$dark-theme-background-primary: #000000;
$dark-theme-background-secondary: #1C1C1E;
$dark-theme-background-tertiary: #2C2C2E;

// Highlight colors
$highlight-pink-primary: #EB0877;
$highlight-pink-secondary: #470224;
$highlight-pink-tertiary: #E6ADC9;
$highlight-blue-primary: #00E0FF;
$highlight-blue-secondary: #003840;
$highlight-blue-tertiary: #BFF7FF;
$highlight-green-primary: #24FFB0;
$highlight-green-secondary: #09402C;
$highlight-green-tertiary: #C8FFEB;

// Generic colors
$color-success-green: #4CD16B;

/* -------------------------------------------------------------------------- */
/*                           #pragma Utility Styling                          */
/* -------------------------------------------------------------------------- */

// CSS Reset
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,
html {
    width: 100%;
    top: 0;
}

// Body styling
body {
    background-color: $dark-theme-background-primary;
}

.view-layout {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;

    .back, .close {
        align-self: flex-start;
        margin-top: 40px;
        cursor: pointer;
    }
    .back {
        justify-self: start;
        margin-left: 40px;
    }
    .close {
        justify-self: end;
        margin-right: 40px;
    }
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */

* {
    font-family: 'Aileron', sans-serif;
}

a, span { 
    color: $dark-theme-text-primary; 
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
}

h2 {
    color: $dark-theme-text-primary; 
    font-size: 30px;
    font-weight: 700;
}

p {
    color: $dark-theme-text-tertiary;
    font-size: 15px;
    font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Buttons Styling                          */
/* -------------------------------------------------------------------------- */

.button-primary {
    // Layout
    width: 150px;
    padding: 15px;

    // Children
    span {
        padding: 0 4px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;   
        color: $highlight-pink-primary;
    }

    // Decoration
    border-radius: 15px;
    background-color: $highlight-pink-secondary;
    border: none;
    cursor: pointer;
    &:focus {
        outline:0;
    }     
}

.button-secondary {
    color: $highlight-pink-primary;
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */

input[type=text] {
    // Layout
    width: 350px;
    height: 50px;
    padding: 20px;

    // Typography
    background-color: $dark-theme-background-tertiary;
    color: $dark-theme-text-primary;
    font-size: 17px;

    // Decoration
    border-radius: 15px;
    border: none;
    cursor: pointer;
    &:focus {
        outline:0;
    }   
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Login Screen                            */
/* -------------------------------------------------------------------------- */

.view-layout .login-container {
    // Self Positioning
    grid-area: 1 / 2 / span 1 / span 1;

    // Children layout
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;

    .logo {
        // Self Positioning
        grid-area: 1 / 1 / span 1 / span 2;
        margin-bottom: 15vh;
    }
    .continue-with-button {
        // Self Positioning
        grid-column: 1 / span 2;

        @extend .button-primary;

        // Changes
        width: 300px;
        margin: 10px 0;
        background-color: $dark-theme-background-secondary;
        span {
            color: $dark-theme-text-primary;  
        }        
        
        // Special logos
        &.google {
            background-color: $light-theme-background-secondary;  
            span {
                color: $light-theme-text-primary;
            }
        }   
        &.facebook {
            background-color: #003BFF;
        }
    }   
    
    .button-secondary {
        margin-top: 20px;
        &#create-account {
            justify-self: start;
            margin-left: 20px;
        }
        &#sign-in {
            justify-self: end;
            margin-right: 20px;
        }
    }
    
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Registration Form                         */
/* -------------------------------------------------------------------------- */

.view-layout .form-container {
    // Self Positioning
    grid-area: 1 / 2 / span 1 / span 1;

    // Children layout
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-start;

    // Decoration
    border: 2px solid $highlight-pink-secondary;
    border-radius: 10px;

    .logo {
        // Self Positioning
        grid-area: 1 / 1 / span 1 / span 1;
        margin-bottom: 5vh;
        width: 100px;
    }
    h2 {
        // Self Positioning
        grid-area: 2 / 1 / span 1 / span 2;
        margin-bottom: 5px;
    }
    p {
        // Self Positioning
        grid-area: 3 / 1 / span 1 / span 2;
        margin-bottom: 50px;
    }
    .availability {
        // Self Positioning
        grid-area: 4 / 1 / span 1 / span 1;

        color: $color-success-green;
    }
    #input-username {
        // Self Positioning
        grid-area: 5 / 1 / span 1 / span 2;
        margin-top: 10px;
    }
    .button-primary {
        // Self Positioning
        grid-area: 6 / 2 / span 1 / span 1;
        justify-self: flex-end;
        margin-top: 100px;
    }    
}