/* -------------------------------------------------------------------------- */
/*                     #pragma Identity Styling Variables                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                           #pragma Utility Styling                          */
/* -------------------------------------------------------------------------- */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  width: 100%;
  top: 0;
}

body {
  background-color: #000000;
}

.view-layout {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view-layout .back, .view-layout .close {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 40px;
  cursor: pointer;
}

.view-layout .back {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 40px;
}

.view-layout .close {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 40px;
}

/* -------------------------------------------------------------------------- */
/*                             #pragma Typography                             */
/* -------------------------------------------------------------------------- */
* {
  font-family: 'Aileron', sans-serif;
}

a, span {
  color: #F4F4F4;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

h2 {
  color: #F4F4F4;
  font-size: 30px;
  font-weight: 700;
}

p {
  color: #BBBBBB;
  font-size: 15px;
  font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                           #pragma Buttons Styling                          */
/* -------------------------------------------------------------------------- */
.button-primary, .view-layout .login-container .continue-with-button {
  width: 150px;
  padding: 15px;
  border-radius: 15px;
  background-color: #470224;
  border: none;
  cursor: pointer;
}

.button-primary span, .view-layout .login-container .continue-with-button span {
  padding: 0 4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #EB0877;
}

.button-primary:focus, .view-layout .login-container .continue-with-button:focus {
  outline: 0;
}

.button-secondary {
  color: #EB0877;
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Input Styling                           */
/* -------------------------------------------------------------------------- */
input[type=text] {
  width: 350px;
  height: 50px;
  padding: 20px;
  background-color: #2C2C2E;
  color: #F4F4F4;
  font-size: 17px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

input[type=text]:focus {
  outline: 0;
}

/* -------------------------------------------------------------------------- */
/*                            #pragma Login Screen                            */
/* -------------------------------------------------------------------------- */
.view-layout .login-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / span 1 / span 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  justify-items: center;
}

.view-layout .login-container .logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 1 / 1 / span 1 / span 2;
  margin-bottom: 15vh;
}

.view-layout .login-container .continue-with-button {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  width: 300px;
  margin: 10px 0;
  background-color: #1C1C1E;
}

.view-layout .login-container .continue-with-button span {
  color: #F4F4F4;
}

.view-layout .login-container .continue-with-button.google {
  background-color: #F2F2F7;
}

.view-layout .login-container .continue-with-button.google span {
  color: #1C1C1C;
}

.view-layout .login-container .continue-with-button.facebook {
  background-color: #003BFF;
}

.view-layout .login-container .button-secondary {
  margin-top: 20px;
}

.view-layout .login-container .button-secondary#create-account {
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 20px;
}

.view-layout .login-container .button-secondary#sign-in {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 20px;
}

/* -------------------------------------------------------------------------- */
/*                          #pragma Registration Form                         */
/* -------------------------------------------------------------------------- */
.view-layout .form-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / span 1 / span 1;
  display: -ms-grid;
  display: grid;
  padding: 30px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: flex-start;
  border: 2px solid #470224;
  border-radius: 10px;
}

.view-layout .form-container .logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / span 1 / span 1;
  margin-bottom: 5vh;
  width: 100px;
}

.view-layout .form-container h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2 / 1 / span 1 / span 2;
  margin-bottom: 5px;
}

.view-layout .form-container p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 3 / 1 / span 1 / span 2;
  margin-bottom: 50px;
}

.view-layout .form-container .availability {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / span 1 / span 1;
  color: #4CD16B;
}

.view-layout .form-container #input-username {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5 / 1 / span 1 / span 2;
  margin-top: 10px;
}

.view-layout .form-container .button-primary, .view-layout .form-container .login-container .continue-with-button, .view-layout .login-container .form-container .continue-with-button {
  -ms-grid-row: 6;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 6 / 2 / span 1 / span 1;
  justify-self: flex-end;
  margin-top: 100px;
}
